* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: rgb(228, 228, 228);
}

.heading {
    font-size: 1.5em;
    text-align: center;
    margin: 20px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

.error {
    font-weight: 400;
    color: rgb(89, 89, 89);
}

.user {
    flex-basis: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 3px 3px 10px grey;
    transition: transform cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.3s;
}

.names {
    text-align: center;
}

.name {
    text-transform: capitalize;
    font-size: 1.2em;
}

.username {
    font-size: 0.7em;
    color: grey;
}

.contact {
    font-size: 0.9em;
    line-height: 20px;
    
}

.address {
    text-transform: capitalize;
    font-size: 0.9em;
}

.user:hover {
    transform: translateY(-3%) scale(1.01);
}









/* Loader */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 8px;
    border: 8px solid rgb(30, 110, 224);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(30, 110, 224) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
